@font-face {
    font-family: 'pixelifySans-Bold';
    src: url(fonts/PixelifySans-Bold.ttf);
}
@font-face {
    font-family: 'pixelifySans-Medium';
    src: url(fonts/PixelifySans-Medium.ttf);
}
@font-face {
    font-family: 'pixelifySans-Regular';
    src: url(fonts/PixelifySans-Regular.ttf);
}
@font-face {
    font-family: 'pixelifySans-SemiBold';
    src: url(fonts/PixelifySans-SemiBold.ttf);
}

body {
    background-color: #29ADFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5% 30% 0 30%;
    font-family: 'pixelifySans-Regular', sans-serif;
    font-size:large;
    color: #FFF1E8;
}

.screenshot {
    min-width: 30%;
}

#screenshots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    min-width: 5%;
}

#paddle{
    max-width: 50%;
    margin-left: 25%;
    
}

#loopGif{
    max-width: 50%;
    margin-left: 25%;
}